.contacts__inner {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

}

.modal-contact{
  @media screen and (max-width: 1200px) {
    margin-bottom: 40px;
}
}
.modal-contact {
  max-width: 500px;
  z-index: 2;
}

.contacts__map-wrap {
  max-width: 500px;
  z-index: 2;
}

.contacts__map {
  border-radius: 2px;
}
