.contacts__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.modal-contact {
  max-width: 500px;
  z-index: 2;
}

.contacts__map-wrap {
  max-width: 500px;
  z-index: 2;
}

.contacts__map {
  border-radius: 2px;
}
