.background {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  background-color: $secondary-bg-color;
  background-image: $hero-linear-gradient, url('../images/hero-mobile-480.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .background {
    background-image: url('../images/hero-mobile-960.jpg');
  }
}

@media (min-width: 768px) {
  .background {
    background-image: url('../images/hero-tablet-768.jpg');
  }

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .background {
      background-image: url('../images/hero-tablet-1536.jpg');
    }
  }
}

@media (min-width: 1200px) {
  .background {
    background-image: url('../images/hero-desktop-1600.jpg');
  }

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .background {
      background-image: url('../images/hero-desktop-3200.jpg');
    }
  }
}

.hero__title {
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  max-width: 360px;
  color: $primary-color;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .hero__title {
    margin: 0 auto 30px;
    max-width: 698px;
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero__button {
  display: block;
  margin: 0 auto;
  padding: 10px 24px;
  min-width: 200px;
  color: $primary-color;
  background-color: $accent-color;

  &:hover,
  &:focus {
    background-color: $hero-btn-active;
    box-shadow: $button-box-shadow;
  }
}

@media (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
    min-width: 216px;
  }
}

.button:hover,
.button:focus {
  background-color: $hero-btn-active;
  box-shadow: $button-box-shadow;
}
