.project__list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .project__list {
    margin-bottom: 40px;
    max-width: 326px;
  }
}

@media screen and (min-width: 768px) {
  .project__list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .project__list {
    margin-bottom: 50px;
  }
}

.project__item {
  &:not(:first-child) {
    margin-left: 8px;
  }
}

.project__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: $title-text-color;
  background-color: $portfolio-bg-btn-color;
  transition: color $timing-function, background-color $timing-function, box-shadow $timing-function;
}

.project .button:hover,
.project .button:focus {
  color: $primary-color;
  background-color: $accent-color;
  box-shadow: $multilevel-box-shadow;
}
