.team {
  background-color: $portfolio-bg-btn-color;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__thumb {
  display: flex;
  justify-content: center;
}

.team__image {
  margin-bottom: 30px;
}

.team__item {
  @media screen and (max-width: 767px) {
    flex-basis: 100%;
  }
  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 90px) / 4);
  }
  box-shadow: $multilevel-box-shadow;
  border-radius: 0px 0px 4px 4px;
  background-color: $primary-color;
}

.team__subtitle {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__text {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}
