.contact__list {
  @media screen and (max-width: 767px) {
    display: none;
  }
  margin-left: auto;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
  }
  @media screen and (min-width: $desktop) {
    @include centeredFlex();
    gap: 50px;
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact__link {
  @include centeredFlex();
  padding: 32px 0;

  font-weight: 500;
  transition: color $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
