.appeal {
  display: block;
  margin-bottom: 20px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $primary-color;
}

.footer-socials__list {
  display: flex;
  padding-bottom: 0;
  gap: 10px;
}

.footer-socials__item {
  width: 44px;
  height: 44px;
}

.socials__link {
  background-color: $footer-socials-bg;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer-socials__icon {
  fill: $primary-color;
}
