.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $secondary-bg-color;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  align-content: center;
}

@media screen and (min-width: $tablet) {
  .footer-inner {
    display: flex;
    align-items: baseline;
  }
}
