.signup {
  @media screen and (max-width: 1199px) {
    max-width: 450px;
    margin: 0 auto;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
}

.signup__form {
  z-index: 1;
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.signup__input {
  position: relative;
  z-index: 1;
  padding: 0 16px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  color: $primary-color;
  border: 1px solid $signup-input-border;
  filter: $signup-input-filter;
  border-radius: 4px;
  @media screen and (min-width: $desktop) {
    display: block;
    margin-right: 12px;
    width: 358px;
  }

  &::placeholder {
    padding: 15px 0;
  }
}

.signup__button {
  padding: 10px 28px;
  color: $primary-color;
  background: $accent-color;
  box-shadow: $button-box-shadow;
  &:hover,
  &:focus {
    background-color: $hero-btn-active;
    box-shadow: $button-box-shadow;
  }
}

@media screen and (max-width: 1199px) {
  .signup__input {
    display: block;
    margin-bottom: 20px;
  }
}

.signup__icon {
  margin-left: 10px;
  transform: translateY(25%);
}
