.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $secondary-bg-color;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-inner {
  @media screen and (min-width: $tablet) {
    align-items: baseline;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.container-wrap {
  @media screen and (max-width: $desktop) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}
