.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: $title-text-color;

  @media (max-width: 449px) {
    font-size: 4.4vw;
  }

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.modal__field {
  position: relative;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__field:nth-child(5) {
  margin-bottom: 0;
}

.modal__input {
  margin-top: 4px;
  padding-right: 10px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  fill: $accent-color;
  border: $border-modal-input;
  border-radius: 4px;
  outline: transparent;
  transition: border $timing-function;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}

.form-field .modal-textaria {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.modal__icon {
  position: absolute;
  top: 29px;
  left: 12px;
  display: inline-block;
  fill: $title-text-color;
  transition: fill $timing-function;

  .modal__input:hover ~ &,
  .modal__input:focus ~ & {
    fill: $accent-color;
  }
}

.modal__check {
  position: absolute;
  margin: -1px;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.modal__field-policy {
  @include centeredFlex();
  justify-content: center;
  margin: 20px auto 30px;
  font-size: 12px;
  line-height: calc(14 / 12);

  @media (max-width: 449px) {
    font-size: 2.6vw;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

.modal__check + .modal__check-icon {
  display: inline-block;
  margin-right: 7px;
  border-radius: 2px;
  border: 2px solid $title-text-color;
  transition: border $timing-function, background-color $timing-function;
}

.modal__check:checked + .modal__check-icon {
  border: 2px solid $accent-color;
  background-color: $accent-color;
}

.modal__link-policy {
  margin-left: 7px;
  color: $accent-color;
}

.modal__button {
  display: block;
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $primary-color;
  background-color: $accent-color;
  box-shadow: $button-box-shadow;
  border-radius: 4px;
  border: none;
  transition: background-color $timing-function;

  &:hover,
  &:focus {
    background-color: $hero-btn-active;
  }
}
