.backdrop {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: $backdrop-background;
  opacity: 1;
  transition: opacity $timing-function;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;
  background: $primary-color;
  box-shadow: $multilevel-box-shadow;
  border-radius: 4px;
  transform: rotate(0) translate(-50%, -50%);
  transition: transform $timing-function;

  @media (max-width: 450px) {
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: 450px) {
    width: 450px;
    height: 609px;
  }

  @media screen and (min-width: $desktop) {
    width: 528px;
    height: 581px;
  }
  .backdrop.is-hidden & {
    transform: rotate(-120deg) translate(-50%, -50%);
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  @include centeredFlex();
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: $border-modal-close-btn;
  border-radius: 50%;
  transition: fill $timing-function;

  &:hover,
  &:focus {
    fill: $accent-color;
    background-color: transparent;
    box-shadow: none;
  }
}
