.project__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.project__item {
  &:not(:first-child) {
    margin-left: 8px;
  }
}

.project__button {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.63;
  color: $title-text-color;
  background-color: $portfolio-bg-btn-color;
  transition: color $timing-function, background-color $timing-function, box-shadow $timing-function;
}

.project .button:hover,
.project .button:focus {
  color: $primary-color;
  background-color: $accent-color;
  box-shadow: $multilevel-box-shadow;
}

.project .examples {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project .item-card {
  flex-basis: calc((100% - 60px) / 3);
}
